/*==================================*/
/*========== Colors Panel ==========*/
/*==================================*/

$first-color: #19618A;
$second-color: #2992CD;
$third-color: #DCF2FF;
$fourth-color: #1E1E1E;
$white-color: #F6F0F0;

/*==================================*/
/*============== Font ==============*/
/*==================================*/

@font-face {
    font-family: Inter;
    src: url(../font/InterVariable.ttf);
}
