@use 'vars' as v;
@use 'reset';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

::selection {
    background-color: v.$first-color;
}

#root {
    overflow: hidden;
}
