@use 'src/styles/vars' as v;

.footer {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: v.$white-color;
    padding: 4rem 0;
    gap: 2rem;
    
    &_wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        z-index: 3;
        @media screen and (max-width: 800px) {
            margin-left: 5rem;
        }
        @media screen and (max-width: 670px) {
            margin-left: 2rem;
        }
        @media screen and (max-width: 452px) {
            margin-left: 0rem;
            padding: 2rem;
        }

        h2 {
            font-size: 3rem;
            font-weight: 800;
        }

        h3 {
            font-size: 2.5rem;
            font-weight: 400;
            @media screen and (max-width: 1700px) {
                font-size: 2.1rem;
            }
            @media screen and (max-width: 400px) {
                font-size: 2rem;
            }
        }

        h4 {
            font-size: 2rem;
            font-weight: 200;
            @media screen and (max-width: 1700px) {
                font-size: 1.8rem;
            }
            @media screen and (max-width: 438px) {
                font-size: 1.5rem;
            }
        }

        h5 {
            font-size: 3rem;
            font-weight: 600;
        }
    }

    &_social {
        display: flex;
        gap: 1rem;
        margin-left: 10rem;
        img {
            transition: scale 1s, filter 2s;
            &:hover {
                cursor: pointer;
                scale: 1.3;
                transition: scale 0.75s, filter 2s;
                filter: grayscale(100);
            }
        }
    }
}